I'm a software developer and entrepreneur living in Minneapolis, MN.

See also:
<ul>
  <li><a href="http://twitter.com/philcrissman">twitter/philcrissman</a></li>
  <li><a href="http://facebook.com/philcrissman">facebook/philcrissman</a></li>
  <li><a href="http://github.com/philcrissman">github/philcrissman</a></li>
  <li><a href="http://www.linkedin.com/in/philcrissman">linkedin/philcrissman</a></li>
</ul>