<!doctype html>
<html>
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script language="javascript" src="/js/jquery-1.4.1.min.js"> </script>
    <script language="javascript" src="/js/app.js"> </script>
    <link rel="stylesheet" type="text/css" href="http://drnicwilliams.com/external/CodeHighlighter/styles.css">
    
    <link rel="stylesheet" type="text/css" href="/css/code_highlighting.css">
    <script src="http://drnicwilliams.com/external/CodeHighlighter/clean_tumblr_pre.js"></script>
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/feed.xml" />
    <title><%= title %></title>
  </head>
  <body>
    <section id="wrapper">
      <header id="header">
        <h1><a href="/">philcrissman.com</a>&nbsp;&nbsp;<a href="/"><img src="/images/nosignal-sm2.jpg" height="44" style="float:right;" /></a></h1>
      </header>
      
      <section id="center">
        <section style="width: 160px;margin: 0px auto;">
          <img src="/images/phil_pic_sq.jpg" width="160" />
          <p style="margin: 20px auto;">
            <a href="http://feeds.feedburner.com/philcrissman"><img src="http://feeds.feedburner.com/~fc/philcrissman?bg=0099ee&amp;fg=000000&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
          </p>
        </section>
        <p></p>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <!-- <li><a href="/about">About</a></li> -->
          <li><a href="/archives">Archives</a></li>
        </ul>
        <section style="width: 160px;margin: 0px auto; clear:both;">
          <script type="text/javascript"><!--
          google_ad_client = "pub-6000752616661499";
          /* 125x125, created 6/1/10 */
          google_ad_slot = "3045793209";
          google_ad_width = 125;
          google_ad_height = 125;
          //-->
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
        </section>
      </section>
      
      <section id="content">
        <section class="bg left">
          <%= yield %>
        </section>
      </section>
      
      <section id="sidebar">
        <section class="bg right">
          

                    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
                    <script>
                    new TWTR.Widget({
                      version: 2,
                      type: 'profile',
                      rpp: 4,
                      interval: 6000,
                      width: 'auto',
                      height: 300,
                      theme: {
                        shell: {
                          background: '#666666',
                          color: '#ffffff'
                        },
                        tweets: {
                          background: '#cccccc',
                          color: '#000000',
                          links: '#1141aa'
                        }
                      },
                      features: {
                        scrollbar: false,
                        loop: false,
                        live: false,
                        hashtags: true,
                        timestamp: true,
                        avatars: false,
                        behavior: 'all'
                      }
                    }).render().setUser('philcrissman').start();
                    </script>
               <!--     <p>&nbsp;</p>
                    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
                    <script>
                    new TWTR.Widget({
                      version: 2,
                      type: 'faves',
                      rpp: 10,
                      interval: 6000,
                      title: 'The best of Twitter according to',
                      subject: 'Phil Crissman',
                      width: 'auto',
                      height: 300,
                      theme: {
                        shell: {
                          background: '#666666',
                          color: '#ffffff'
                        },
                        tweets: {
                          background: '#cccccc',
                          color: '#444444',
                          links: '#2657eb'
                        }
                      },
                      features: {
                        scrollbar: true,
                        loop: false,
                        live: true,
                        hashtags: true,
                        timestamp: true,
                        avatars: true,
                        behavior: 'all'
                      }
                    }).render().setUser('philcrissman').start();
                    </script>
                    -->
          
          <h2>Currently Reading</h2>
          <a href="http://www.amazon.com/gp/product/1594488843?ie=UTF8&tag=idepermin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1594488843"><img border="0" src="/images/amazon/418pHnJLHLL._SL160_.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=idepermin-20&l=as2&o=1&a=1594488843" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
          <a href="http://www.amazon.com/gp/product/0735619670?ie=UTF8&tag=idepermin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0735619670"><img border="0" src="/images/amazon/51PPS4C6i8L._SL160_.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=idepermin-20&l=as2&o=1&a=0735619670" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
          
          
          <p style="clear:both">&nbsp;</p>
        </section>
      </section>
      <footer id="footer">
        <section class="bg">
          powered by <a href="http://cloudhead.io/toto">toto</a>
        </section>
      </footer>
    </section>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-77047-1");
    pageTracker._initData();
    pageTracker._trackPageview();
    </script>
  </body>
</html>

